<a [routerLink]="'/'" ><i class="angle left icon"></i>Zurück zur Startseite</a>
@if (success == 'true') {
  <h1 class="ui header">Erfolg!</h1>
}
@if (success == 'true') {
  <p>Deine Anmeldung war erfolgreich!</p>
}
@if (success != 'true') {
  <h1 class="ui header">Deine Anmeldung</h1>
}
<p>Hier unten findest du nochmal die Informationen zu deiner Anmeldung:</p>

<h3>{{event?.name}}</h3>
<p><b>Beschreibung:</b></p>
<p>{{event?.description}}</p>

<button class="ui submit primary button" [ngClass]="{'loading' : loading}" [disabled]="loading" (click)="unregister()">Abmelden</button>
